.dub
docs.json
__dummy.html
docs/
/bindbc-godot
bindbc-godot.so
bindbc-godot.dylib
bindbc-godot.dll
bindbc-godot.a
bindbc-godot.lib
bindbc-godot-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
*.code-workspace
dub.selections.json
lib
